<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.utility.Listerners" />
		<listener class-name="com.Test.resources.ExtentRepoterNG" />
	</listeners>
	<parameter name="enviroment" value="stage" />
	<parameter name="testCaseID" value="testCaseID_01" />
	    <test name="Signup" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Signup" />
		</classes>
	</test>
	 <test name="Login" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Login" />
		</classes>
	</test>
	 <test name="support features" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Support_feature" />
		</classes>
	</test>
	 <test name="Bug report" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.BugReport" />
		</classes>
	</test> 
	
	 <test name="Forgot password" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Forgotpassword" />
		</classes>
	</test> 
 	 <test name="Business owner" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.BusinessOwner" />
		</classes>
	</test> 
	<test name="Member" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Member" />
		</classes>
	</test>  

	<test name="Teams" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Teams" />
		</classes>
	</test>
	
	<test name="Project" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Project" />
		</classes>
		</test>
		
		<test name="ToDo" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.ToDo" />
		</classes>
	</test>
	
	<test name="Clients" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Clients" />
		</classes>
	</test>
	
	<test name="WorkOrder" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.WorkOrder" />
		</classes>
	</test>
   <test name="Schedules" preserve-order="true">
		<classes>
			<class name="com.End2End.Test_Regression.Schedules" />
		</classes>
	</test> 
</suite>